name: Deploy maskinporten-client

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: Cluster
        required: true
        default: dev-gcp
        type: choice
        options:
          - dev-gcp
  push:
    branches: [ main ]
permissions: write-all

jobs:
  build:
    permissions:
      contents: write
      actions: read
      checks: write
      id-token: write
    uses: navikt/aap-workflows/.github/workflows/gradle-build.yml@main
    secrets: inherit

  deploy-dev:
    permissions:
      contents: read
      id-token: write
    needs: build
    concurrency:
      group: deploy-dev
    uses: navikt/aap-workflows/.github/workflows/deploy.yml@main
    secrets: inherit
    with:
      vars: .nais/dev.yml
      manifest: .nais/app.yml
      cluster: dev-gcp
